body,
html {
    height: 100%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    color: #000;

    &.hidden {
        overflow: hidden;
    }

    * {
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1264px;
    }

    header .container {
        max-width: 1324px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 105%;
    letter-spacing: 0.15px;
}

h2 {
    color: #A51F7A;
    font-weight: 700;
    font-size: 60px;
    line-height: 105%;
    letter-spacing: 0.15px;
}

.section-title {
    color: #000000;
    font-weight: 700;
    font-size: 60px;
    line-height: 105%;
    letter-spacing: 0.15px;
}

h3 {
    font-size: 36px;
    line-height: 100%;
    font-weight: 600;
     letter-spacing: 0.15px;
}

h5 {
    font-size: 24px;
    line-height: 110%;
    color: #000;
    letter-spacing: 0.11px;
}



.violet-color {
    color: #512E84;
}

.purple-color {
    color: #A51F7A;
}

.white-color {
    color: #fff;
}




@media(max-width:1399.8px) {

    h1,
    h2,
    .section-title {
        font-size: 46px;
    }

    h3 {
        font-size: 28px;
    }

    h5 {
        font-size: 21px;
    }
}

@media(max-width:1199.8px) {

    h2,
    .section-title {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }
}

@media(max-width:991.8px) {

    h1 {
        font-size: 42px;
    }

    h2,
    .section-title {
        font-size: 28px;
    }
}

@media(max-width:575.8px) {

    h1 {
        font-size: 36px;
    }

    h2,
    .section-title {
        font-size: 28px;
    }

   
}