header.header {
    position: relative;
    padding: 33px 0 0 0;
    height: 172px;
    z-index: 12;
    display: flex;
    align-items: flex-end;

    &::after {
        content: '';
        display: block;
        height: 10px;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, #00AEEF, #62BB46);
        z-index: 2;
        transition: 0.5s;
    }

    &:before {
        content: '';
        display: block;
        height: 10px;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        background: #fff;
        z-index: 3;
        transition: 0.3s;
    }


}

.header__logo {
    display: inline-block;
    margin-bottom: 30px;

    img {
        width: 100%;
        max-width: 180px;
    }
}

.header__topbox {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.header__nav {
    text-align: right;

    &>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &>li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 16px;

            &:last-child {
                margin-right: 0;

                a::after {
                    display: none;
                }
            }

            &:hover>a {
                background: #55b95d;
                color: #fff;
            }

            &>a {
                text-decoration: none;
                color: #000;
                font-weight: 700;
                font-size: 22px;
                padding: 7px 10px 33px;
                transition: 0.3s;
                border-radius: 5px 5px 0 0;
                position: relative;
                display: inline-block;

                &:hover {
                    background: #55b95d;
                    color: #fff;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 2px;
                    height: 22px;
                    background: #000;
                    position: absolute;
                    top: 10px;
                    right: -11px;
                }
            }
        }
    }


}


// switch
.header__language {
    display: flex;
    align-items: center;
    margin-left: 25px;

    span {
        color: #000;
        font-size: 20px;
        font-weight: 600;
        display: inline-block;
        margin-right: 4px;
        width: 28px;

        &.hide {
            display: none;
        }
    }

    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 42px;
        height: 26px;
        background: #999;
        display: block;
        border-radius: 100px;
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 22px;
        height: 22px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    input:checked+label {
        background: #62BB46;
    }

    input:checked+label:after {
        left: calc(100% - 1px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 25px;
    }
}

.header__escape {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    background: #A51F7A;
    min-height: 37px;
    padding: 2px 23px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 20px;
    letter-spacing: 0.15px;
    transition: 0.3s;

    &:hover {
        background: #5C2F92;
    }
}

.header__donate {
    color: #62BB46;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0.15px;
    transition: 0.3s;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -2px;
        height: 2px;
        width: 0;
        background: #62BB46;
        transition: 0.3s;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.header.menu-hover:before {
    opacity: 0;
}

// megamenu
.megamenu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    z-index: 3;
    text-align: left;
    padding: 35px 0 30px;
    min-height: 210px;
}

.megamenu__item {
    margin-bottom: 20px;

    .mainlink {
        display: block;
        color: #000;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.15px;
        text-decoration: none;
        line-height: 40px;
        border-bottom: 2px solid #0A85BE;
        transition: 0.3s;

        &:hover {
            color: #a51f7a;
            border-bottom: 2px solid #a51f7a;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 15px 0 0 0;

        a {
            color: #000;
            font-size: 18px;
            font-weight: 500;
            line-height: 140%;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
                color: #A51F7A;
            }
        }
    }
}

.megamenu {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.5s;


    &.is-open {
        opacity: 1;
        visibility: visible;
        z-index: 3;
        transform: translateY(0);
    }
}



.grid-sizer,
.grid-item {
    width: 20%;
    padding: 0 10px;
}

.grid-item--width2 {
    width: 40%;
}

.header__burger {
    display: none;
}

.header__nav {
    .header__topbox {
        display: none;
    }
}

@media(max-width:1399.8px) {

    .header__nav>ul>li>a:after {
        height: 18px;
        top: 9px;
    }

    header.header {
        padding-top: 20px;
        height: 150px;
    }

    .header__topbox {
        margin-bottom: 15px;
    }

    .header__nav>ul>li>a {
        padding: 5px 7px 25px;
    }

    .megamenu__item ul {
        padding-top: 10px;
    }

    .megamenu {
        padding: 25px 0;
        min-height: 180px;
    }

    .megamenu__item .mainlink {
        line-height: 140%;
        padding-bottom: 3px;
    }


    .header__nav>ul>li>a,
    .header__escape,
    .header__language span,
    .header__donate {
        font-size: 18px;
    }

    .megamenu__item ul a,
    .megamenu__item .mainlink {
        font-size: 16px;
    }


}

@media(max-width:1199.8px) {

    .grid-item,
    .grid-sizer {
        width: 25%;
        padding: 0 10px;
    }
}

@media(max-width:991.8px) {
    header.header {
        height: 115px;
        padding: 10px 0;
    }

    header.header:before,
    header.header:after {
        display: none;
    }

    .header__logo {
        margin-bottom: 0;
    }

    .header__topbox {
        margin-bottom: 0;
    }

    .header__burger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: #5C2F92;
        vertical-align: middle;
        margin-left: 20px;
    }

    button.burger {
        display: inline-block;
        position: relative;
        padding: 0;
        width: 24px;
        height: 16px;
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &.burger2 {

            &:after,
            &:before,
            span {
                width: 100%;
                height: 2px;
                border-radius: 100px;
                position: absolute;
                display: block;
                background: #fff;
                right: 0;

            }

            &:after,
            &:before {
                content: "";
                transition: 0.3s width 0.4s;
            }

            &:after {
                top: 0px;
                left: 0px;
                margin-top: 0px;
            }

            &:before {
                bottom: 0px;
                right: 0px;
                margin-bottom: 0px;
            }

            span {
                top: 50%;
                margin-top: -1px;
                transition: transform 0.3s;

                &:before {
                    content: "";
                    background: #fff;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    position: absolute;
                    left: 0px;
                    transition: transform 0.3s;
                }
            }

            &.on {


                &:after {
                    transition: all 0.2s;
                    width: 0%;
                    left: 0px;
                }

                &:before {
                    transition: all 0.2s;
                    width: 0%;
                    right: 0px;
                }

                span {
                    transform: rotate(45deg);
                    transition: 0.3s transform 0.4s;

                    &:before {
                        transform: rotate(-90deg);
                        transition: 0.3s transform 0.4s;
                    }
                }


            }
        }

    }

    .grid-item,
    .grid-sizer {
        width: 33%;
        padding: 0 10px;
    }

    .header__nav>ul>li>a:hover {
        background: transparent;
        color: #000;
    }

    .has-submenu.active {
        &>a {
            background: #55b95d !important;
            color: #fff !important;
        }
    }

    .megamenu {
        padding: 15px 0;
        min-height: initial;
    }



    .header__nav {
        // display: none;
        position: fixed;
        width: 100%;
        left: 0;
        top: 115px;
        background: #fff;
        height: calc(100vh - 115px);
        border-top: 5px solid #55b95d;
        text-align: left;
        padding: 40px;
        transition: 0.5s;
        transform: translateX(100%);
        overflow: auto;

        &.show {
            transform: translateX(0);
        }
    }

    .header__nav>ul>li {
        display: block;
        margin-right: 0;
    }

    .header__nav>ul>li>a {
        padding: 10px;
        border-radius: 5px;

        &::after {
            display: none;
        }
    }

    .megamenu {
        // display: none;
        padding-bottom: 0;
        top: initial;
        height: 0;
        transition: 0s;

        .container {
            padding: 0;
        }
    }

    .megamenu__item {
        margin-bottom: 30px;
    }

    .megamenu.is-open {
        display: block;
        position: relative;
        height: auto;
    }
}

@media(max-width:767.8px) {
    .header__escape {
        font-size: 14px;
        padding: 2px 15px;
        min-height: 32px;
        margin-left: 15px;
    }

    .header__language {
        margin-left: 15px;

        input {
            display: none;
        }
    }

    header.header {
        align-items: center;
        height: 100px;
    }

    .header__nav {
        top: 100px;
        height: calc(100vh - 100px);
    }

    .grid-item,
    .grid-sizer {
        width: 50%;
        padding: 0 10px;
    }







    .header__donate {
        font-size: 16px;
    }


}

@media(max-width:575.8px) {
    .header__topbox {

        .header__donate,
        .header__language,
        .header__escape {
            display: none;
        }
    }

    .header__nav {
        padding: 30px 20px;

        .header__topbox {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 15px;

            .header__donate,
            .header__language,
            .header__escape {
                display: flex;
                margin-left: 20px;
            }

            .header__donate {
                margin-left: 10px;
            }
        }

        .grid {
            height: auto !important;
        }

        .grid-item, .grid-sizer {
            position: relative !important;
            left: initial !important;
            top: initial !important;
        }
    }

    .grid-item,
    .grid-sizer {
        width: 100%;
    }

    .megamenu__item {
        margin-bottom: 20px;
    }

    .megamenu  {
        padding-left: 15px;
        padding-bottom: 15px;
        display: none;
    }
}

//  letter-spacing: 0.15px;